.App-header {
    background-color: #FFF;
    margin: auto;
    width: 50%;
    height: 100vh;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: black;
}

.MinerIdInput {
    width: 450px;
    background-color: #f5f5f5;
    top: 20px;
}
